<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
           <ion-card *ngIf="errorMessage" class="errorCard">
                <ion-card-content>
                    {{errorMessage}}
                </ion-card-content>
            </ion-card>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input type="text" formControlName="firstName"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.controls.firstName.touched" no-lines>
                <p *ngIf="registerForm.controls['firstName'].hasError('required')">FirstName is required</p>
                <p *ngIf="registerForm.controls['firstName'].hasError('maxlength')">FirstName is too long</p>
                <p *ngIf="registerForm.controls['firstName'].hasError('pattern')">Please enter valid first name</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input type="text" formControlName="lastName"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.controls.lastName.touched" no-lines>
                <p *ngIf="registerForm.controls['lastName'].hasError('required')">LastName is required</p>
                <p *ngIf="registerForm.controls['lastName'].hasError('maxlength')">LastName is too long</p>
                <p *ngIf="registerForm.controls['lastName'].hasError('pattern')">Please enter valid last name</p>
            </ion-item>

             <ion-item>
                <ion-label floating>User Name</ion-label>
                <ion-input type="text" formControlName="userName"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.controls.userName.touched" no-lines>
                <p *ngIf="registerForm.controls['userName'].hasError('required')">UserName is required</p>
                <p *ngIf="registerForm.controls['userName'].hasError('maxlength')">UserName is too long</p>
            </ion-item>


            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.controls.email.touched" no-lines>
                <p *ngIf="registerForm.controls['email'].hasError('required')">Email is required</p>
                <p *ngIf="registerForm.controls['email'].hasError('pattern')">Please enter valid email</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-item *ngIf="registerForm.controls.password.touched" no-lines>
                <p *ngIf="registerForm.controls['password'].hasError('required')">password is required</p>
                <p *ngIf="registerForm.controls['password'].hasError('minlength')">password must be 6 characters long</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>
           
            <ion-item *ngIf="registerForm.controls.confirmPassword.touched" no-lines>
                <p *ngIf="registerForm.controls['confirmPassword'].hasError('required')">Confirm password is required</p>
                <p *ngIf="registerForm.controls.password.valid&&registerForm.controls.password.value!==registerForm.controls.confirmPassword.value">PassWord & confirmPassword not match</p>
            </ion-item>
            <button type="submit" ion-button full [disabled]="!registerForm.valid">Sign Up</button>
        </form>
    </ion-list>

</ion-content>