<!--
  Generated template for the ChangePassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngIf="errorMessage" class="errorCard">
      <ion-card-content>
        {{errorMessage}}
      </ion-card-content>
    </ion-card>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <ion-item>
        <ion-label floating>Current Password</ion-label>
        <ion-input type="password" formControlName="currentPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="changePasswordForm.controls.currentPassword.touched" no-lines>
        <p *ngIf="changePasswordForm.controls['currentPassword'].hasError('required')">Current password is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="changePasswordForm.controls.newPassword.touched" no-lines>
        <p *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">password is required</p>
        <p *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">password must be 6 characters long</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm New Password</ion-label>
        <ion-input type="password" formControlName="confirmNewPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="changePasswordForm.controls.confirmNewPassword.touched" no-lines>
        <p *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required')">Confirm password is required</p>
        <p *ngIf="changePasswordForm.controls.newPassword.valid&&changePasswordForm.controls.newPassword.value!==changePasswordForm.controls.confirmNewPassword.value">Password & confirm password not match</p>
      </ion-item>
      <button type="submit" ion-button full [disabled]="!changePasswordForm.valid">Save</button>
    </form>
  </ion-list>
</ion-content>